<!DOCTYPE html>
<html>
  <head>
    <title>RTA - Real Time Analytics</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
  </head>
  <body>
    <%- body %>
    <!--SCRIPTS-->
    <script src="/js/components/lodash.js"></script>
    <script src="/js/components/d3.js"></script>
    <script src="/js/components/angular.js"></script>
    <script src="/js/components/moment.js"></script>
    <script src="/js/components/angular-bootstrap.js"></script>
    <script src="/js/components/angular-dragdrop-ganarajpr.js"></script>
    <script src="/js/components/angular-moment.js"></script>
    <script src="/js/components/angular-ui-bootstrap-bower.js"></script>
    <script src="/js/components/angular-ui-router.js"></script>
    <script src="/js/components/angular-ui-utils.js"></script>
    <script src="/js/components/angularSails.js"></script>
    <script src="/js/components/sails.io.js.js"></script>
    <script src="/js/components/uuid-js.js"></script>
    <script src="/js/angular-d3.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/controller/EditorController.js"></script>
    <script src="/js/app/controller/MainController.js"></script>
    <script src="/js/app/controller/TypeController.js"></script>
    <script src="/js/app/directive/connector.js"></script>
    <script src="/js/app/directive/node-draggable.js"></script>
    <script src="/js/app/directive/node-inputs.js"></script>
    <script src="/js/app/directive/node-outputs.js"></script>
    <script src="/js/app/directive/node.js"></script>
    <script src="/js/app/directive/not-node-draggable.js"></script>
    <script src="/js/examples/tetris.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
