<div class="container">
    <nvd3-line-chart data="chartData"
                     showXAxis="true"
                     showYAxis="true"
                     interactive="true"
                     tooltips="true"
                     objectEquality="true"
                     interpolate="step"
                     showLegend="true" forcey="[500]"
            height="400">
        <svg></svg>
                     </nvd3-line-chart>
    <div class="well">
        <h3  ng-repeat="event in data">
            {{event.name | titlecase}}
            <small>{{event.data}}</small>
        </h3>
    </div>
</div>