<div class="node" node-draggable>
    <div class="panel panel-default">
        <div class="panel-heading" >
            <button ng-click="removeNode(node.id)"
                    class="pull-right btn btn-sm btn-danger" >
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <p style="">{{node.id}} - {{node.data.nodeType | titlecase}} </p>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <node-settings></node-settings>
            <node-inputs></node-inputs>
            <node-outputs></node-outputs>
        </div>
    </div>
</div>

