<div >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">ID {{node.id}} - {{node.data.nodeType}} </h3>
            <button ng-click="removeNode(node.id)" class="btn-sm btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        <div class="panel-body">
            <div ng-transclude></div>
            <div class="well" ng-if="node.data.nodeType ==='input'">
                <select not-node-draggable ng-model="node.data.eventType" ng-options="e.name as e.name for e in eventTypes"></select>
            </div>
            <div>
                <div ng-repeat="input in node.inputs">
                    <div class="circle node-circle node-input"

                         ui-on-drop="connect($event,$data,{input:{{input}},node:{{node}}})">

                    </div>
                    <span>{{input.name}}</span>
                </div>
            </div>
            <div class="pull-right">
                <div ng-repeat="output in node.outputs">
                    <span>{{output.name}}</span>

                    <div class="circle node-circle node-output"
                         not-node-draggable
                         ui-draggable="true"
                         drag="{output: {{output}},node:{{node}}}">

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

