<div class="row">
    <ul class="nav navbar-nav">
        <li><a>{{nodeSystem.name}}</a></li>
        <li>
            <a class="dropdown-toggle">Create Node <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="nodeType in nodeTypes"><a href="#" ng-click="createNode(nodeType)">{{nodeType | titlecase}}</a></li>
            </ul>
        </li>
        <li><a href="#" ng-click="save()">Save</a></li>
        <li><a href="#" ng-click="remove()">Delete</a></li>
        <li><a href="#" ng-click="start()">Start</a></li>
    </ul>
</div>
<div >
    <node ng-repeat="node in nodes" node="node"></node>
</div>
<svg class="connections">
    <g >
   <path ng-repeat="conn in connections"
         ng-click="unconnect(conn)"
         fill="transparent"
         ng-attr-d="M{{conn.source.pos.x}} {{conn.source.pos.y}} C {{conn.source.pos.x +30}} {{conn.source.pos.y}}, {{conn.target.pos.x -30}} {{conn.target.pos.y}}, {{conn.target.pos.x}} {{conn.target.pos.y}}"
         stroke="gray" stroke-width="5"
         stroke-linecap="round">
   </path>
    </g>
</svg>