<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Event types</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="type in types" ui-sref-active="active">
                   <a ui-sref="types.params({type:type.name})">
                       <button ng-click="deleteType(type)" class="btn btn-sm btn-danger pull-right">
                           <span  class="glyphicon glyphicon-trash"></span>
                       </button>
                       {{type.name}}

                   </a>

                </li>
                <hr/>
                <li>
                    <input type="text" ng-model="newTypeName"/>
                    <button ng-click="createType(newTypeName)"
                            ng-disabled="!newTypeName"
                            class="btn btn-sm btn-success">Create</button>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ui-view ></div>


    </div>
</div>