<h3>{{selectedType.name}}</h3>
<ul class="nav nav-stacked" >
    <li ng-repeat="param in selectedType.params">
      <h4 class="inline">  {{param.name}} - {{param.type}}
        <button ng-hide="selectedType.internal" ng-click="deleteParam(param)" class="btn btn-sm btn-danger">
            <span  class="glyphicon glyphicon-trash"></span>
        </button>
      </h4>
    </li>
    <hr ng-hide="selectedType.internal"/>
    <li ng-hide="selectedType.internal">

        <input class="form-control" type="text" ng-model="newParamName"/>
        <select class="form-control"
                ng-model="newParamType"
                ng-init="newParamType =paramTypes[0]"
                ng-options="p as p for p in paramTypes">
        </select>
        <button ng-click="createParam(newParamName,newParamType)"
                ng-disabled="!newParamName"
                class="btn btn-sm btn-success">Create</button>

    </li>
</ul>
<hr ng-hide="selectedType.internal"/>
<a ng-hide="selectedType.internal" class="btn btn-lg btn-primary" ng-click="saveSelectedType()">Save</a>

