.circle {
    border-radius: 50%;
}
.node {
    width:12em;
}

.node .panel .panel-heading {
    max-height: 34px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: #d8d8d8;
}
.node .panel .panel-heading p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 0.3em;
    margin:0
}

.node .panel .panel-heading button {
    margin:0;
    padding:0.5em
}

.node .output {
    margin-right: -1.7em
}

.connections{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    pointer-events:none;
}

.connections path {
    pointer-events: auto;
}

.node-form{
    font-size:0.8em;
    height:2em;
    padding: 0
}

.node-circle{
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    margin: 0.1em;
}
.node-output{
    background-color: slategray;
}
.node-input{
    background-color: rosybrown;
}